.formulario {
    width: 100%;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: $separacion / 4;

    label {
        flex: 0 0 10rem;
        color: $blanco;
    }

    input {
        flex: 1;
        padding: $separacion / 4;
        border-radius: .8rem;
        border: none;
    }
}