.invalidar-cita {
    text-align: center;
    margin: $separacion / 2 0;
    text-transform: uppercase;
}

.contenido-resumen {
     margin-bottom: $separacion / 2 0;
    p {
        margin-bottom: .5rem;
        span {
            font-weight: $bold;
            color: $azul;
            font-style: 2.4rem;
        }
    }

    .resumen-servicios {
        h3 {
            margin: $separacion / 2 0;
        }
        .contenedor-servicio {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid #43454C;
            .precio {
                font-size: 2.4rem;
                font-weight: $bold;
                color: $azul;
            }
        }
    }
}

.total {
    text-align: right;
}